<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Your Groceries</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/saver_style.css}">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
</head>
<body>
	<header>
		<h1>PRODUCE SAVER</h1>
	</header>
	
	<nav>
		<a href="../inputProduce">ADD NEW</a>
		<a href="viewProduceList">VIEW ALL</a>
		<a href="#">EMAIL LIST</a>
	</nav>
	<table>
		<tr th:each="grocery : ${product}">
		<td th:text="${grocery.id}"/>
		<td th:text="${grocery.name}"/>
		
	
	</table>

</body>

</html>