<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enter your Recipe</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/saver_style.css}">
<script src="Scripts/jquery-3.6.0.js" type="text/javascript"></script>
<script src="Scripts/script.js" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
</head>
<body>
	<header>
		<img  src="css/ps_logo.png">
		<h1><a href="/index.html">PRODUCE SAVER</a></h1>
	</header>
	
	<nav>
		<a href="../inputProduce">ADD PRODUCE</a>
		<a href="viewProduceList">VIEW ALL</a>
		<a href="menuOptions">MEAL PLANNER</a>
		<a href="menuGroceryList">SHOPPING LIST</a>
	</nav>
	
	<div id="container">
		<form th:object="${newRecipe}" th:action="@{/inputMenu}" method="POST">
			Name: <input name="name" size="20" th:field="*{name}"/><br>
			<div id="ingredient">
			Ingredients: <input name="grocery.name" th:field="*{grocery.name}"><br>
			
			</div>
			<button id="more" type="button">Add More Ingredients</button>
			<input name="Submit" type="submit"/>	
		</form>
		
		<a href="/menuOptions">See all your recipes</a>
	</div>
</body>
<script>
$('#more').click(function(){
	$('#ingredient').append('Ingredients: <input name="grocery.name" th:field="*{grocery.name}"><br>');
});

</script>

</html>